<nav class="navbar" id="navbar2">
  <% link_to '/index.html' do %>
    <div class="navbar-logo">
      <%= image_tag '/images/logo_small.png'%>
      VladiAngelov
    </div>
  <% end %>
  <div class="navbar-menu">
    <%= link_to 'About', '/index.html' %>
    <%= link_to 'Projects', '/projects.html' %>
    <%= link_to 'Interests', '/interests.html' %>
    <%= link_to 'Contact', '/contact.html' %>
  </div>
  <div class="navbar-menu-mobile-button">
    <h1><i class="fas fa-bars"></i></h1>
  </div>
</nav>
<div class="navbar-menu-mobile" style="display: none">
  <div class="nav-menu-mobile-item"><%= link_to 'About', '/index.html' %></div>
  <div class="nav-menu-mobile-item"><%= link_to 'Projects', '/projects.html' %></div>
  <div class="nav-menu-mobile-item"><%= link_to 'Interests', '/interests.html' %></div>
  <div class="nav-menu-mobile-item"><%= link_to 'Contact', '/contact.html' %></div>
</div>
