---
title: Vladi Angelov
skill_categories:
  - name: Backend development
    slug: backend_development
  - name: Frontend development
    slug: frontend_development
  - name: Tools & platforms
    slug: tools_platforms
  - name: Project management
    slug: project_management
  - name: Version control
    slug: version_control
  - name: Testing & QA
    slug: testing_qa
  - name: Data analysis
    slug: data_analysis
---
<div class="my-content">
  <div>
    <h1 class="card-title">Profile</h1>
  </div>
  <div class="card">
    <%= image_tag '/images/vladi.jpg' %>
    <p>
    Hi, my name is Vladi Angelov, a Senior Software Engineer with a diverse background that blends software development and data science.
    <br><br>
    After my Master's Degree in Geophysics, I began my career working in that field, where I developed strong skills in data analysis and machine learning, which later transitioned into a focus on software engineering. I specialize in Ruby, Rails, JavaScript, React, and GraphQL, with a passion for full-stack development.
    <br><br>
    Throughout my career, I’ve worked at companies like Sleepstation and Regate by Qonto, where I took part in complex projects involving fintech automation and digital health platforms. These experiences have allowed me to sharpen my skills in creating scalable, impactful solutions while working in agile teams.
    <br><br>
    Currently, I’m a Senior Software Engineer at Algrano, where I help build a platform connecting coffee growers with roasters, promoting sustainable and transparent trade. 
    <br><br>
    I love combining my technical expertise with my passion for data and technology to contribute to meaningful projects that have a positive impact.
    <br>
  </div>
  <div>
    <h1 class="card-title">Skills</h1>
  </div>
  <div class="skills-section">
    <% current_page.data.skill_categories.each do |category| %>
      <h2 class="skills-category"><%= category.name %></h2>
      <div class="skills-list">
          <% data.skills[category.slug].each do |skill| %>
          <div class="skill-card">
            <div class="skill-image">
              <img src="<%= skill[:image_address] %>" alt="<%= skill[:title] %>">
              <% if skill[:image_address_two] %>
                <img src="<%= skill[:image_address_two] %>" alt="<%= skill[:title] %>">
              <% end %>
            </div>
            <p class="skill-title"><%= skill[:title] %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
